@model Application.DTOs.HotelForGetDto

<h3>Hotel Details</h3>
<br />

<div>
    <h5>Hotel Id @Model.ID</h5>
    <br />
    <h5>Hotel Name @Model.Name</h5>
    <br />
    <h5>Hotel Number of Branches @Model.noOfBranches</h5>   
</div>